<!doctype html>{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <title>Javascript Tests</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qunit/1.14.0/qunit.min.css">
</head>
<body>
  <div id="id_email_order">3,1</div>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/qunit/1.14.0/qunit.min.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/sinon.js/1.7.3/sinon-min.js'></script>
  <script src="{% static 'js/lib/sinon-qunit.js' %}"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js'></script>
  <script src="{% static 'js/ordered_list.js' %}"></script>
  <script src="{% static 'js/email_sort.js' %}"></script>
  <script src="{% static 'js/js_tests.js' %}"></script>
</body>
</html>
